#main-nav .logo {
    max-width: 160px;
    margin-bottom: 0.9rem;
}

#main-nav .container ul {
    margin: auto
}

#main-nav .container ul li {
            /* top right bottom left */
    padding: 0rem 0.9rem 0rem 0.9rem;
}

#main-nav .container ul li a {
    font-size: 0.9rem;
}

#home {
    margin-top: 0vh;
    padding-top: 0vh;
}

#home img {
    width: 80%;
    height: 80%;
}

#cv .skill ul li {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--secondary-color);
    border-radius: 25px;
        /* top right bottom left */
    margin: 0rem 0.3rem 0rem 0.3rem;
}


#cv .languages-container {
    justify-content: center;
}

#portfolio img {
    width: 80%;
    height: 80%;
}

#portfolio .arrow {
    font-size: 3rem;
            /* top right bottom left */
    padding: 0rem 1rem 0rem 1rem;
}

#portfolio .portfolio-text .portfolio-text-container {
    width: 100%;
}

#portfolio .portfolio-text h1 {
    font-size: 1.5rem;
}

#portfolio .portfolio-text span {
        /* top right bottom left */
    padding: 0rem 0rem 0rem 0rem;
}

#portfolio .portfolio-text p {
    font-size: 0.8rem;
            /* top right bottom left */
    padding: 1.2rem 0rem 0rem 0rem;
}

#contact  .contact-form input[type=text]::placeholder, 
input[type=email]::placeholder {
    font-size: 0.9rem;
}

#contact  .contact-form textarea::placeholder {

    font-size: 0.9rem;
}
