.header-shadow {
    box-shadow: 0px 0px 20px -1px #e0d7fb;
    background-color: white !important;
}
.header {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
    height: 90px;
    &__container {
        max-width: 1140px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
    &__navbar {
        background-color: transparent;
        padding: 0 0;
        display: flex;
        justify-content: space-evenly;
        @media (max-width: 670px) {
            justify-content: space-between;
        }
        &__logo {
            padding: 0px 10px;
            max-width: 150px;
            img {
                width: 100%;
            }
        }
        &__burger-check {
            display: none;
            @media (max-width: 670px) {
                display: block;
                z-index: 9;
                // opacity: 0;
                width: 0px;
                height: 0px;
                cursor: pointer;
                position: absolute;
                top: 20px;
                right: 60px;
                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(110,65,255)' viewBox='0 0 100 80' width='40' height='40'%3E%3Crect width='100' height='20' rx='8'%3E%3C/rect%3E%3Crect y='30' width='100' height='20' rx='8'%3E%3C/rect%3E%3Crect y='60' width='100' height='20' rx='8'%3E%3C/rect%3E%3C/svg%3E");
                    width: 40px;
                    height: 40px;
                }
                &:checked {
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='rgb(110,65,255)' viewBox='0 0 18 18'%3E%3Cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3E%3C/svg%3E");
                    }
                }
                &:not(:checked) {
                    & + div{
                        display: none;
                    }
                }
            }
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 700px;
            @media (max-width: 670px) {
                flex-direction: column;
                right: 0;
                top: 0;
                position: absolute;
                width: 100%;
                background-color: white;
            }
            &__menu {
                @media (max-width: 670px) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 80px;
                }
                li {
                    float: left;
                    position: relative;
                    a {
                        padding: 35px 16px;
                        display: inline-block;
                        text-transform: capitalize;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        font-family: var(--primary-font);
                        font-weight: var(--font-extrabold);
                        font-size: 0.85rem;
                        color: var(--jca-color-4);
                        @media (max-width: 670px) {
                            padding: 10px;
                        }
                        &:hover {
                            color: #b4b1bb;
                        }

                    }
                    &:hover {
                        .sub-menu {
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 110%;
                    min-width: 220px;
                    background-color: #ffffff;
                    -webkit-box-shadow: 0px 18px 54px -8px rgba(0,0,0,0.15);
                    box-shadow: 0px 18px 54px -8px rgba(0,0,0,0.15);
                    padding: 15px 0;
                    z-index: 999;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    li {
                        float: none;
                        a {
                            padding: 8px 25px;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            &:hover {
                                padding-left: 35px;
                                color: var(--jca-color-4);
                            }
                        }
                    }
                }
                .menu_has_children {
                    &::after {
                        position: absolute;
                        content: "ˆ";
                        top: 36px;
                        right: 0px;
                        color: #000;
                        z-index: -10;
                        transition: all 0.3s;
                        z-index: 2;
                    }
                    &:hover {
                        &::after {
                            content: "ˇ";
                        }
                    }

                }
            }
            &__social {
                display: flex;
                justify-content: center;
                align-items: center;
                .jca-social-icons {
                    margin-top: -20px;
                    @media (max-width: 670px) {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}