.header {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
    &__container {
        max-width: 1140px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
    &__navbar {
        background-color: transparent;
        padding: 0 0;
        display: flex;
        justify-content: space-evenly;
        &__logo {
            padding: 0px 10px;
            max-width: 150px;
            img {
                width: 100%;
            }
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 700px;
            &__menu {
                li {
                    float: left;
                    position: relative;
                    a {
                        padding: 35px 16px;
                        display: inline-block;
                        text-transform: capitalize;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        font-family: var(--primary-font);
                        font-weight: var(--font-extrabold);
                        font-size: 0.85rem;
                        color: var(--jca-color-4);
                        &:hover {
                            color: #b4b1bb;
                        }

                    }
                    &:hover {
                        .sub-menu {
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .sub-menu {
                    position: absolute;
                    top: 110%;
                    min-width: 220px;
                    background-color: #ffffff;
                    -webkit-box-shadow: 0px 18px 54px -8px rgba(0,0,0,0.15);
                    box-shadow: 0px 18px 54px -8px rgba(0,0,0,0.15);
                    padding: 15px 0;
                    z-index: 999;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    li {
                        float: none;
                        a {
                            padding: 8px 25px;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            &:hover {
                                padding-left: 35px;
                                color: var(--jca-color-4);
                            }
                        }
                    }
                }
                .menu_has_children {
                    &::after {
                        position: absolute;
                        content: "ˆ";
                        top: 36px;
                        right: 0px;
                        color: #000;
                        z-index: -10;
                        transition: all 0.3s;
                        z-index: 2;
                    }
                    &:hover {
                        &::after {
                            content: "ˇ";
                        }
                    }

                }
            }
            &__social {
                display: flex;
                justify-content: center;
                align-items: center;
                .jca-social-icons {
                    margin-top: -20px;
                }
            }
        }
    }
}