.cv {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 296px;
        background-image: url(https://juancamejoalarcon.s3.eu-west-3.amazonaws.com/assets/shape/about-round-top.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__container {
        max-width: 1000px;
        margin: auto;
        padding: 1rem;
        padding-top: 120px;
        text-align: center;
    }
    &__download {
        display: flex;
        max-width: 400px;
        margin: auto;
        padding-bottom: 1rem;
        a {
            margin: 1rem;
            @media (max-width: 450px) {
                margin: 0.5rem;
            }
        }
    }
}